<% include ../../../views/partials/adminhead %>

<body class="cbp-spmenu-push">
	<div class="main-content">

		<!--left-fixed -navigation-->
		<% include ../../../views/partials/adminaside %>
		<div id="page-wrapper">
			<div class="main-page">
				<div class="forms">
					<h2 class="title1">Forms</h2>

					<div class=" form-grids row form-grids-right">
						<div class="widget-shadow " data-example-id="basic-forms">
							<div class="form-title">
								<h4>Horizontal form :</h4>
							</div>
							<div class="form-body">
								<% if(userUpdateErrorMessage) { %>
								<div class="alert alert-danger alert-dismissible">
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
									<strong>Error!</strong>
									<%= userUpdateErrorMessage %>
								</div>
								<% } %>
								<form class="form-horizontal" action="<%= generateUrl('user.update') %>" method="POST">
									<div class="form-group">
										<label for="full_name" class="col-sm-2 control-label">Full Name</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="full_name" name="full_name" placeholder="Jhon Doe" value="<%= userDetails.full_name %>">
										</div>
									</div>
									<div class="form-group">
										<label for="email" class="col-sm-2 control-label">Email</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="email" name="email" placeholder="jhon@gmail.com" value="<%= userDetails.email %>">
										</div>
									</div>
									<div class="form-group">
										<label for="user_type" class="col-sm-2 control-label">Select type of user:</label>
										<div class="col-sm-9">
											<select class="form-control" id="user_type" name="user_type">
												<option value="Student" <%=userDetails.user_type==='Student' ? 'selected' : '' %> >Student</option>
												<option value="Teacher" <%=userDetails.user_type==='Teacher' ? 'selected' : '' %> >Teacher</option>
												<option value="Non-teaching-staff" <%=userDetails.user_type==='Non-teaching-staff' ? 'selected' : '' %>
													>Non-teaching-staff</option>
											</select>
										</div>
									</div>


									<% if(userDetails.user_type == 'Student'){ %>
									<div class="form-group">
										<label for="class_attended" class="col-sm-2 control-label">Select Class</label>
										<div class="col-sm-9">
											<select class="form-control" id="class_attended" name="class_attended">
												<% for(var i= 0; i< classList.length; i++){ %>

												<option value="<%= classList[i]._id %>" <%=classList[i]._id.toString()==userDetails.class_attended._id.toString()
												 ? 'selected' : '' %> >

													<%= classList[i].class_name %>

												</option>

												<% } %>
											</select>
										</div>
									</div>
									<% } %>

									<% if(userDetails.user_type == 'Teacher'){ %>
									<div class="form-group">
										<label for="subjects_taught" class="col-sm-2 control-label">Select Subjects</label>
										<div class="col-sm-9">
											<select class="form-control" id="subjects_taught" name="subjects_taught[]" multiple="multiple">
												<% for( var i = 0; i< subjectList.length; i++){ %>

												<% for(var j = 0; j< taughtSubjectsList.length; j++){  %>

												<option value="<%= subjectList[i]._id %>" <%=subjectList[i]._id.toString()==taughtSubjectsList[j]._id.toString()
												 ? 'selected' : '' %> >

													<%= subjectList[i].subject_name %>

												</option>

												<% }  %>


												<% } %>
											</select>
										</div>
									</div>
									<% } %>

									<div class="form-group">
										<label for="contact_no" class="col-sm-2 control-label">Contact Number</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="contact_no" name="contact_no" placeholder="9940044444" value="<%= userDetails.contact_no %>">
										</div>
									</div>
									<div class="col-sm-offset-2"> <button type="submit" class="btn btn-default">Update User</button> </div>
									<input type="hidden" name="userIdVal" value="<%= userDetails._id %>" />
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<% include ../../../views/partials/adminfooter %>
	</div>
</body>

</html>