<% include ../../../views/partials/customerhead %>


<body>
    <!-- banner -->
    <div class="wthree_agile_admin_info">
              <!-- /w3_agileits_top_nav-->
              <!-- /nav-->
              <div class="w3_agileits_top_nav">
                <ul id="gn-menu" class="gn-menu-main">
                           <!-- /nav_agile_w3l -->
                    <li class="gn-trigger">
                        <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" aria-hidden="true"></i><span>Menu</span></a>
                        
    <% include ../../../views/partials/customeraside %>

    <!-- /inner_content-->
    <div class="inner_content"> 
        <!-- /inner_content_w3_agile_info-->
        <div class="inner_content_w3_agile_info">
        <!-- /agile_top_w3_grids-->
           <!-- <div class="agile_top_w3_grids">
                <ul class="ca-menu">
                        <li>
                            <a href="#">
                                
                                <i class="fa fa-building-o" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main">2</h4> 
                                    <h3 class="ca-sub">Attempt Exam</h3>
                                </div>
                            </a>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
            </div> -->

            <!-- start body -->
            
                                <div class="list">
                                        <div class="top">
                                            <div class="top-left">
                                                    <h2>Allotted Exam List</h2>
                                            </div>
                                            </div>
                                            <div class="list-header">
                                                <div class="name">Exam Name</div>
                                                    <div class="other-params">
                                                        <div class="flex-box">
                                                            <div class="column-2">Exam Type</div>
                                                            <div class="column-3">Actions</div>
                                                            <!-- <div class="column-2-with-column-3">Merged columns 2&3</div> -->
                                                        </div>
                                                    </div>
                                            </div>
                                            <% if(examsList.length > 0){ %>
                                                <% for(var i=0; i< examsList.length; i++) {%>
                                            <div class="list-body">
                                                <div class="list-el tag-1 tag-2 tag-3">
                                                    <div class="intro">
                                                        <div class="name"><%= examsList[i].exam_name %></div>
                                                        <div class="other-params">
                                                            <div class="flex-box">
                        
                                                                <div class="column-2"><%= examsList[i].exam_type %></div>
                                                                <div class="column-3">
                                                                    <button class="list-el-column-3">
                                                                        <a class="column-3-link" href="<%= generateUrl('customer.exam-start', {examId: examsList[i]._id})  %>">Start Exam </a>
                                                                    </button>
                                                                </div>
                        
                        
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="desc">
                                                        <div class="excerpt-fullwidth">
                                                            <p style="
                                                            font-size: 16px;
                                                            color: brown;
                                                            font-weight: bold;
                                                        ">Subject Name on which exam will be taken: </p> &nbsp;&nbsp;
                                                            <p style="
                                                            font-style: italic;
                                                            font-weight: 800;
                                                            font-size: 18px;
                                                            color: green;
                                                        "> <%= examsList[i].exam_subject.subject_name %> </p> <br>
                                                            <!-- <p><a href="#">More information link</a></p> -->

                                                            <p style="
                                                            font-size: 16px;
                                                            color: brown;
                                                            font-weight: bold;
                                                        ">Class Name on which exam will be taken: </p> &nbsp;&nbsp;
                                                            <p style="
                                                            font-style: italic;
                                                            font-weight: 800;
                                                            font-size: 18px;
                                                            color: green;
                                                        "> <%= examsList[i].exam_subject.class.class_name %> </p>

                                                        </div>
                        
                        
                                                    </div>
                                                </div>
                                            </div> <!-- end list-body -->
                                                <% } %>
                                            <% } %>
                </div>
            <!-- end body -->

        </div>

    </div>
</div>
<!-- banner -->

<% include ../../../views/partials/customerfooter %>


</html>